body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

button {
  cursor: pointer;
}

.light-theme {
  background-color: #fff;
  color: #000;
}

.dark-theme {
  background-color: #333;
  color: #fff;
}

button:hover, button:focus {
  opacity: 0.8;
}
